.shoppingBag {
  position: fixed;
  top: 0;
  /* right: -120vh; */
  right: 0;
  min-width: 320px;
  width: 70%;
  max-width: 500px;
  height: 100vh;
  background-color: #fff;
  border-left: 2px solid #000;
  display: none;
  z-index: 4;
  overflow-x: auto;
}

.shoppingBag h2 {
  padding: 1em;
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;

}

.shoppingBag-close {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
  padding: 1em;
  position: absolute;
  right: 0;

}

.shoppingBag-item {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #000;

}

.shoppingBag-item-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.shoppingBag-item-detail {
  flex: 0 0 35%;
  line-height: 1.5;

}

.shoppingBag-item-detail>* {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000c;
}

.shoppingBag-item-detail-name {
  margin-bottom: 1rem;
}

.shoppingBag-item-total {
  flex: 0 0 17%;
  font-weight: 600;
  color: #000c;
}

.shoppingBag-footer {
  position: sticky;
  bottom: 0;
  background-color: aqua;
  padding: 1em 1.5em;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  align-items: center;
  height: 240px;
}
.shoppingBag-total{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 .6em;
  font-weight: bold;
  margin-top: 1em;
}

.shoppingBag-remove-item {
  padding: 0.3rem;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.shoppingBag-item-detail-quantity-selectbox {
  border: 1px solid black;
  padding: .3em;
}
