*{
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.section-products{
  display: flex;
  padding: .5rem;
}
.section-products-item{
  width: 100%;
  padding: .5em;
}
.section-products-item-button-add{
  padding: 1em;
  border-radius: 3px;
  margin-top: .2em;
  cursor: pointer;
}
.section-products-item-button-add:active{
  /* content: "→"; */
  background-color: rgb(117, 150, 179);
}
.section-products-item-button-add:after{
  content: "→";
}
